.container
  .row.ptop100
    .col-md-8
      %h1
        Messages:
      #messages
    .col-md-4
      Users:
      #users
        %ul
          - @users.each do |user|
            %li= user.name
  .row
    = simple_form_for @message, remote: true do |f|
      .form-group
        = f.input :content, as: :text, label: "#{current_user.name}: "
        = f.submit 'Send my message', class: 'btn primary-btn'
